@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="imageContainer"></div>

<script>
    let arrayOfCards = @Html.Raw(@Model.boardCreator.getJsonOfCards(8)); 
    let level = 8;

    function checkIfWin() {
        level--;
        if (level <= 0) {
            alert("you win");
            level = 8;
            startGame(level);
        }
    }

    $("#start").click(() => {
        startGame(level);
    })

    function startGame(level) {
        let borderElement;
        $(".imageContainer").empty();

        for (let i = 0; i < level * 2; i++) {
            borderElement = document.createElement("div");
            $(borderElement).addClass("border-element");
            document.querySelector(".imageContainer").appendChild(borderElement);

            for (let j = 0; j < arrayOfCards.length; j++) {
                if (arrayOfCards[j].FirstLocalisation === i || arrayOfCards[j].SecondLocalisation === i) {

                    let elem = document.createElement("img");
                    elem.src = arrayOfCards[j].ImageUrl;
                    elem.style.visibility = "hidden";
                    $("img").attr("clicked", true);
                    document.querySelectorAll("div.border-element")[i].appendChild(elem);
                    break;
                }
            }
        }
        let uncoveredCards = [];

        $("div.border-element").click((e) => {
            if (e.target.nodeName === "DIV" && uncoveredCards.length < 2) {
                uncoveredCards.push(e.target.children[0].src);
                e.target.children[0].style.visibility = "visible";
                let arrayOfCardsOnBoard = $(".imageContainer").children();

                setTimeout(() => {
                    if (uncoveredCards.length == 2 && uncoveredCards[0] === uncoveredCards[1]) {
                        for (let i = 0; i < arrayOfCardsOnBoard.length; i++) {
                            if (arrayOfCardsOnBoard[i].children[0]) {
                                if (arrayOfCardsOnBoard[i].children[0].src === uncoveredCards[0]) {

                                    $(arrayOfCardsOnBoard[i].children[0]).attr("src", "images/zwierzaki/zwierzaki.jpg");
                                }
                            }
                        }
                        checkIfWin();
                        uncoveredCards = [];
                    }
                    else if (uncoveredCards.length == 2) {
                        for (let i = 0; i < arrayOfCardsOnBoard.length; i++) {
                            if (arrayOfCardsOnBoard[i].children[0]) {
                                if (arrayOfCardsOnBoard[i].children[0].src.substr(arrayOfCardsOnBoard[i].children[0].src.length - 13) !== "zwierzaki.jpg") {
                                    arrayOfCardsOnBoard[i].children[0].style.visibility = "hidden";
                                }
                            }
                        }
                        uncoveredCards = [];
                    }
                }, 1800);
            }
        });
    }
    startGame(level);    
</script>
